@use 'styles/text-animations' as textAnimation;
@use 'styles/element-styles' as elementStyles;

button {
  appearance: none;
  border: 0;
  padding: 0.625rem 1rem;
  border-radius: 12px;
  font-weight: 600;
  background: var(--mix);
  box-shadow: var(--mat-sys-level3);
  font-size: 16px;
  transition: --angle 2s;
  cursor: pointer;
  user-select: none;

  &.action-default {
    @include elementStyles.gradientBorder(4px, var(--teal), var(--lime));
  
    .host--text {
      @include textAnimation.gradientText(var(--teal), var(--lime));
      margin-bottom: 0;
    }
  }

  &.action-red {
    @include elementStyles.gradientBorder(4px, var(--action-red), var(--lime));
  
    .host--text {
      @include textAnimation.gradientText(var(--action-red), var(--lime));
      margin-bottom: 0;
    }
  }
  
  &.action-purple {
    @include elementStyles.gradientBorder(4px, var(--action-purple), var(--lime));
  
    .host--text {
      @include textAnimation.gradientText(var(--action-purple), var(--lime));
      margin-bottom: 0;
    }
  }
}

