@use 'styles/text-animations' as textAnimation;

:host .host--content {

  @media (max-width: 1450px) {
    padding-left: 5dvw;
    padding-right: 5dvw;
  }

  @media (max-width: 930px) {
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    height: 100%;
    padding-bottom: 48px;

    &-left {
      flex: 0 1 100%;
    }
    &-block {
      padding-top: 0;
      align-items: center;
    }
    &-copy {
      margin-bottom: 24px;
    }
    &-selection {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 500px) {
    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center !important;
      }
    }
    &-title {
      font-size: 20px;
    }
    &-copy {
      margin-bottom: 0;
    }
    &-block {
      flex: 1 1 100%;
      margin-top: 8px;
    }
  }
}
