
:host {

  @media (max-height: 750px) {
    > * {
      transform: translateY(10dvh);
    }
  }
  @media (max-width: 600px) {
    .host--title {
      font-size: 32px;
    }
    .host--description {
      font-size: 16px;
      margin-bottom: 48px;
    }
    .host--nav {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }
}
