
@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: -45deg;
}

@mixin gradientBorder($size, $primary, $secondary) {

  border: $size solid transparent;
  color: $primary;
  background:
    linear-gradient(white 0 0) padding-box,
    linear-gradient(var(--angle), $primary, $secondary) border-box;

  &:hover {
    --angle: 270deg;
  }
}
