
:host {
}

.host--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  $columns: 6;
  $gap: 12px;
  gap: $gap;

  > * {
    flex: 0 1 calc((100% - $gap * ($columns - 1)) / $columns);
  }
}

.mat-mdc-card {
  .mat-mdc-card-image {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
}
