.ect-demo-nav {

  @media (max-width: 1024px) {
    padding-top: 24px;
  }
  @media (max-width: 900px) {
    margin-bottom: 8px !important;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 8px;
  }
}
