:host {
  display: block;
  
  .mat-toolbar {
    padding: 0 10dvw;
    gap: 12px;
    box-shadow: var(--mat-sys-level2);

    > p:first-child {
      margin-right: auto;
      cursor: pointer;
    }
  }
}
